
@media (max-width:320px){
    
    .acti{
        opacity: 0 !important;
    }
    .container-book{
        padding: 0 25px !important;
    }
    .sub-title img{
        width: 45px;
        height: 45px;
        top: -20px;
    }
    .clone{
        width: 200px;
    }
    .close{
        left: 200px;
    }
    .footer-co span, .footer-none span{
        font-size: 12px !important;
    }
    .menu-text p{
        font-size: 14px;
        width: 100%;
    }
    .find a{
        font-size: 11px;
        margin: 0 10px;
    }
    .find{
        max-width: 100px;
    }
    .demo{
        margin-left: 10px;
    }
    .demo a{
        margin-left: 17px;
    }
    .device h2{
        font-size: 25px;
        line-height: 25px;
    }
    .sub-title h3{
        font-size: 15px !important;
        margin: 0 15px !important; 
    }
    .sub-title{
        border-top-left-radius: 60px !important;
    }
    form{
        width: 90% !important;
    }
    .contact input{
        width: 300px;
        height: 30px;
    }
    .button-sub{
        width: 100px;
        height: 30px;
        font-size: 12px;
        padding: 0 5px;
    }
    .category h3{
        font-size: 15px;
        display: -webkit-box;
        line-height: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .category p,.book-cate span{
        font-size: 12px;
        display: -webkit-box;
        line-height: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .trade{
        margin-top: 25px;
    }
    .book-cate p{
        font-size: 14px;
    }
    .book-cate{
        margin-top: 15px;
    }
    .mb_100{
        margin-bottom: 30px;
    }
    .book-img{
        width: auto;
        height: auto;
    }
    .book-img .col{
        height: 200px;
        width: 100%;
    }
    .col-child{
        padding: 0 15px;
    }
    .tes-span{
        margin: 0 !important;
        padding: 0 10px;
    }
    .book-cate img{
        width: 40px;
        height: 40px;
    }
    .tes-content img{
        width: 40px;
        height: 40px;
    }

    .accordion,.author-footer span,.tes-span span, .tes-title span{
        font-size: 12px !important;
        line-height: 12px;
    }
    .tes-span h3, .tes-title h3{
        margin-top: 15px;
    }
}
@media (max-width:575.98px){
    .container-footer,.container-book,.container-category,.container-selling{
        padding: 0 20px;
    }
    .acti{
        opacity: 0 !important;
    }
    .book-img{
        width: auto;
        height: auto;
    }
    .col{
        width: 100%;
    }
    .contact input{
        padding-left: 15px;
    }
    .logo{
        margin-left: 0;
        width: auto;
    }
    .header-menu{
        display: none;
    }
    .nav-bar{
        display: block;
        width: 100%;
        margin-top: 25px;
    }
    .people,.plane-1,.plane-2{
        display: none;
    }
    .menu-text{
        margin-left: 0;
        width: 100%;
    }
    .container,.container-left,.container-book{
        padding: 0 25px;
    }
    .menu-text h2{
        font-size: 50px;
        line-height: 60px;
    }
    .mt_200,.mt_150,.mt_100{
        margin-top: 30px !important;
    }
    .mt_70{
        margin-top: -70px;
    }
    .category p{
        width: 90%;
        margin: 0;
        font-size: 14px;
    }
    .city,.book-flex, .testimonials{
        display: block;
    }
    .cate-1{
        margin-right: 0;
    }
    .cate-2, .cate-3{
        margin: 0;
    }
    .cate-4{
        margin-left: 0;
    }
    .cate-product{
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
    }
    .cate-product>div{
        flex-basis: 48%;
    }
    .device .easy,.book-content,.tes-product, .tes-author{
        width: 100%;
    }
    .book-img{
        display: block;
        margin: 0 auto;
    }
    .tes-span{
        margin:0 50px 25px 50px;
    }
    .contact input{
        width: 300px;
        height: 45px;
    }
    .button-sub{
        height: 45px;
    }
    /* .tes-content img{
        left: 0;
        top: -110px;
    } */
    .container-tes{
        padding: 0 50px;
    }
    .footer{
        display: none;
    }
    .footer-none{
        display: block;
    }
    .sub-title h3{
        font-size: 20px;
        margin: 0 50px;
        line-height: 20px;
    }
    .sub-title{
        margin: 0;
        border-top-left-radius: 100px;
    }
    form{
        width: 90%;
    }
    .contact{
        margin-top: 30px;
        padding-bottom: 30px;
    }
    .sub{
        height: auto;
    }
    .accordion{
        font-size: 18px;
    }
    .logo-footer, .socical{
        width: 100%;
    }
    .footer-co span, .footer-none span{
        font-size: 14px;
    }
    .sub-title img{
        right: -20px;
    }
    .sub-title h3{
        padding-top: 30px;
    }
    .device .easys{
        font-size: 25px;
        line-height: 30px;
    }
    .trademark{
        flex-wrap: wrap;
        gap: 10px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    .trademark{
        flex-wrap: wrap;
        gap: 10px;
    }
    .book-img{
        width: 100%;
        height: auto;
    }
    .col{
        width: 100%;
    }
    .acti{
        opacity: 0 !important;
    }
    .header-menu{
        display: none;
    }
    .logo{
        width: auto;
    }
    .nav-bar{
        display: block;
    }
    .sub-title h3{
        font-size: 20px;
        margin: 0 50px;
        line-height: 20px;
    }
    .contact{
        margin-top: 45px;
        padding-bottom: 45px;
    }
    .sub{
        height: auto;
    }
    form{
        width: 90%;
    }
    .sub-title{
        margin: 0;
    }
    .tes-span{
        margin: 25px 34px;
    }
    .footer{
        display: none;
    }
    .logo-footer, .socical{
        width: 100%;
    }
    .footer-none{
        display: block;
    }
    .book-img{
        display: block;
        margin: 0 auto;
    }
    .device .easy,.book-content,.tes-product, .tes-author{
        width: 100%;
    }
    .category p{
        width: 95%;
        margin: 0 5.5px;
    }
    .cate-1{
        margin-right: 0;
    }
    .cate-2, .cate-3{
        margin: 0;
    }
    .cate-4{
        margin-left: 0;
    }
    .city,.book-flex, .testimonials{
        display: block;
    }
    .container,.container-left,.container-book{
        padding: 0 45px;
    }
    .people,.plane-1,.plane-2{
        display: none;
    }
    .menu-text{
        margin-left: 0;
        width: 100%;
    }
    .ml_186{
        margin-left: 0;
    }
    .mt_200,.mt_150,.mt_100{
        margin-top: 50px !important;
    }
    .mt_70{
        margin-top: 0;
    }
    .cate-product{
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .cate-product>div{
        flex-basis: 48%;
    }
    .container-tes,.container-footer,.container-book,.container-category,.container-selling{
        padding: 0 50px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .trademark{
        flex-wrap: wrap;
    }
    .container-tes,.container-footer,.container-book,.container-category,.container-selling{
        padding: 0 50px;
    }
    .cate-2, .cate-3, .cate-1, .cate-4{
        margin: 0;
    }
    .city{
        gap: 15px;
    }
    .book-img{
        width: 100%;
        height: auto;
    }
    .col{
        width: 100%;
    }
    .trademark{
        gap: 10px;
    }
    .acti{
        opacity: 0 !important;
    }
    .header-product .container{
        padding: 0 20px;
    }
    .container-book{
        padding: 0 85px;
    }
    .logo{
        width: auto;
    }
    .header-menu{
        display: none;
    }
    .nav-bar{
        display: block;
    }
    .menu-text h2{
        font-size: 40px;
        letter-spacing: 0;
        line-height: 45px;
    }
    .menu-text{
        margin-left: 0;
    }
    .people{
        margin-right: 0;
        right: 0;
        top: 30%;
        transform: translate(0,-30%);
        width: 600px;
        height: 600px;
    }
    .menu-text{
        top: 40%;
        transform: translate(0,-40%);
    }
    .container-right{
        padding-right: 0;
    }
    .plane-1{
        top: 20%;
        left: 88%;
        width: 80px;
    }
    .plane-2{
        width: 80px;
    }
    .menu-text p{
        margin-top: 0;
        font-size: 14px;
        width: 100%;
    }
    .menu-text h4{
        font-size: 16px;
    }
    .find{
        width: 120px;
    }
    .find a{
        font-size: 14px;
    }
    .demo{
        margin-left: 0;
        gap: 10px;
    }
    .demo a{
        font-size: 14px;
        color: #000;
        margin-left: 0;
    }
    .button{
        gap: 10px;
    }
    .mt_70{
        margin-top: 0;
    }
    .mb_100,.mb_50{
        margin-bottom: 30px;
    }
    .cate-product{
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .cate-product div{
        flex-basis: 49%;
    }
    .cate-1{
        margin-right: 0;
    }
    .cate-2,.cate-3{
        margin: 0;
    }
    .cate-4{
        margin-left: 0;
    }
    .category p{
        width: 90%;
    }
    .city-content span, .city-location span{
        font-size: 14px;
    }
    .city-location i{
        margin-right: 5px;
    }
    .mt_200{
        margin-top: 100px !important;
    }
    .ml_186{
        margin-left: 0;
    }
    .book-flex, .testimonials{
        display: block;
    }
    .device .easy,.book-content,.tes-product, .tes-author{
        width: 100%;
    }
    .book-img{
        display: block;
        margin: 0 auto;
    }
    .device h2{
        font-size: 40px;
        text-align: center !important;
    }
    .device .easy{
        text-align: center;
    }
    .tes-span{
        margin: 50px 0 25px 0;
    }
   
    .sub-title h3{
        font-size: 20px;
        line-height: 20px;
        margin: 0px 80px;
    }
    .contact{
        margin-top: 50px;
    }
    .contact input{
        width: 100%;
    }
    .form-group{
        gap: 10px;
    }
    .sub-title{
        height: 80%;
        margin: 0;
    }
    .mt_150{
        margin-top: 30px !important;
    }
    .mt_100{
        margin-top: 40px;
    }
    .footer-co{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }
    .logo-footer, .socical{
        width: 100%;
    }
        .tes-span{
        padding: 0 20px;
    }
    form{
        width: 90%;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    .container-tes,.container-footer,.container-book,.container-category,.container-selling{
        padding: 0 85px;
    }
    .header-product .container{
        padding: 0 calc(85px/2);
    }
    .container-book{
        padding: 0 85px;
    }
    .book-flex{
        gap: 20px;
    }
    .logo{
        margin-left: 0;
    }
    .menu-text h2{
        font-size: 40px;
        letter-spacing: 0;
        line-height: 45px;
    }
    .menu-text{
        margin-left: 0;
    }
    .people{
        margin-right: 0;
        right: 0;
    }
    .container-right{
        padding-right: 0;
    }
    .plane-1{
        top: 10%;
        left: 85%;
    }
    .menu-text p{
        margin-top: 0;
        font-size: 14px;
    }
    .device h2{
        font-size: 30px;
        line-height: 40px;
    }
    .book-content{
        width: 100%;
    }
    .ml_186{
        margin-left: 0;
    }
    .device .easys{
        width: 60%;
    }
    .sub-title h3{
        font-size: 25px;
        line-height: 30px;
        margin: 0 100px;
    }
    .soccical-app{
        display: grid;
        grid-gap: 10px;
        justify-content: center;
    }
    .hard{
        display: flex;
        justify-content: center;
    }
    .form-group{
        gap: 10px;
    }

}
@media (min-width: 1200px){
    .container,.container-book{
        max-width: 1400px;
        margin: 0 auto;
    }
}
